<%= render 'shared/page_title', title: "All Topics" %>
<hr/>

<% @topics.each do |topic| %>
    <div class="row">
        
        <div class="col-md-2">
            <section class="coach_info center">
                <%= gravatar_for topic.coach, size: 100 %>
                <h5>Playa: <%= topic.coach.coachname %></h5>
            </section>
        </div>
        
        <div class="col-lg-6 well">
            <h4><%= link_to topic.title, topic_path(topic) %></h4>
            <p><%= topic.body %></p>
            <p>
                <span class="quiet"><small><%= time_ago_in_words(topic.created_at) %> ago</small></span>
            </p>
        </div>
        <div class="col-md-4">
            <%= image_tag(topic.picture.url, size: "250x150", class: "gravatar") if topic.picture? %>
        </div>
    </div>
    <hr/>
<% end %>