<p>
    <h1>Create a new Topic</h1>
    <hr/>
</p>

<% if @topic.errors.any? %>
    <div class="row">
        <div class="alert alert-danger col-md-8 col-md-offset-2">
            <h5>Please correct the following errors:</h5>
            <ul>
                <% @topic.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <%= form_for @topic do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            
            <%= f.label :body %>
            <%= f.text_area :body, rows: 10 %>
        
            <%= f.submit 'Create Post', class: "btn btn-success" %>
        <% end %>
    </div>
</div>