<%= render 'shared/page_title', title: @topic.title %>
<div class="row">
    <div class="col-md-4 pull-right center">
        <%= link_to gravatar_for(@topic.coach, size:200), coach_path(@topic.coach) %>
        <p>
            <h5>Brought to you by: <%= @topic.coach.coachname %></h5>
        </p>
    </div>
    <div class="col-md-8">
        <% if logged_in? and @topic.coach == current_user %>
            <%= link_to "Edit this topic", edit_topic_path(@topic), class: "btn btn-success pull-right" %>
        <% end %>
        <h3>created: <%= time_ago_in_words(@topic.created_at) %> ago</h3>
        <div class="show_topic_img">
            <%= image_tag(@topic.picture.url, size: "450x300", class: "gravatar") if @topic.picture? %>
        </div>
        <div class="well">
            <strong><%= @topic.coach.coachname %> says:</strong><br/>
            <%= @topic.body %>
            <div class="pull-right">
                <%= link_to like_topic_path(@topic, like: true), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; <%= @topic.thumbs_up_total %>
                <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to like_topic_path(@topic, like: false), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp; <%= @topic.thumbs_down_total %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<h5><%= link_to "Return to Topics listing", topics_path, class: "btn btn-warning btn-small" %></h5>